:root {
  color-scheme: light dark;
  font: 16px/145% system-ui, "Segoe UI", Roboto, sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 600;
}

button {
  font: inherit;
  cursor: pointer;
}
